<h2>Список заказов</h2>
	<p>
<% @res.each do |key, val| %>
	<% @products.each do |p| %>
		<% if p.id === key.to_i %>
			<%= p.id %>
			<%= p.title %>, 	
			штук: <%= val %>
			<p></p>
		<% end %>
	<% end %>	
<% end %>	
</p>